@charset "utf-8";
html{ -webkit-tap-highlight-color:transparent;overflow-y: scroll; overflow-x:hidden;}
*,::after,::before{-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-o-text-size-adjust:none;-ms-text-size-adjust:none}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0px;padding: 0px;}
header, section, footer, nav, figure, figcaption, article, menu {display: block;}
body {font-size:24px;font-family:"Hiragino Sans GB","Arial","黑体","微软雅黑";line-height:1;background:#e9e9e9;
-webkit-touch-callout: none;
}
body, a {color: #333;}
a.line { text-decoration:underline;}
a, a:hover {text-decoration: none;}
.tl { text-align:left;}
.tc { text-align:center;}
.tr { text-align:right;}
em, i, cite {font-style: normal;}
img {border: none; vertical-align:middle;}
ul,dl, menu {list-style-type: none;}
.fl {float: left;}
.fr {float: right;}
.bold { font-weight:bold;}
.block { display:block;}
.none{display:none;}
.hide { overflow:hidden;}
.mauto { margin:0 auto;}
.rel { position:relative;}
input {-webkit-appearance:none;outline:none; line-height:normal;}
input[type="button"], input[type="submit"], input[type="reset"]{-webkit-appearance:none;}
textarea{ overflow:auto; resize:none;}
table { border-collapse: collapse;border-spacing: 0;}
.lineThrough {text-decoration: line-through;}
.w640 {width:640px;margin:0 auto;}
select, label {
	vertical-align: middle
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}
.clear { clear:both; overflow:hidden;}
/* font */
.font14 {font-size:14px;}
.font16 {font-size:16px;}
.font18 {font-size:18px;}
.font20 {font-size:20px;}
.font22 {font-size:22px;}
.font24 {font-size:24px;}
.font26 {font-size:26px;}
.font28 {font-size:28px;}
.font30 {font-size:30px;}
.font32 {font-size:32px;}
.font34 {font-size:34px;}
.font36 {font-size:36px;}
.font45 {font-size:45px;}
.font48 {font-size:48px;}
.font54 {font-size:54px;}
.font60 {font-size:60px;}
.font72 {font-size:72px;}
/* blank */
.pt0 { padding-top:0;}
.pt10 { padding-top:10px;}
.pt15 { padding-top:15px;}
.pl20 { padding-left:20px;}
.pr20 { padding-right:20px;}
.pt20 { padding-top:20px;}
.pl25 { padding-left:25px;}
.pt15 { padding-top:15px;}
.pt25 { padding-top:25px;}
.pt30 { padding-top:30px;}
.pt35 { padding-top:35px;}
.pl30 { padding-left:30px;}
.pt60 { padding-top:60px;}
.pb100 { padding-bottom:100px;}
.mt5 {margin-top:5px;}
.mt10 {margin-top:10px;}
.mt20 {margin-top:20px;}
.mt30 {margin-top:30px;}
.mr10 {margin-right:10px;}
.mr15 {margin-right:15px;}
.mr20 {margin-right:20px;}
.pt130 { padding-top:130px;}
.pt150 { padding-top:150px;}
.blank25 {height:25px;clear: both;overflow: hidden;}
.blank30 {height:30px;clear: both;overflow: hidden;}
.blank40 { height:40px;clear: both;overflow: hidden;}
.blank60 { height:60px;clear: both;overflow: hidden;}
/* color */
.c0,.c0 a,a.c0 {color:#000;}
.cf,.cf a,a.cf {color:#fff;}
.red,.red a,a.red {color:#ff0000;}
.blue,.blue a,a.blue {color:#039;}
.green {color:green;}
.gray {color:gray;}
.c3,a.c3,.c3 a {color:#333;}
.c6,a.c6,.c6 a {color:#666;}
.c9,a.c9,.c9 a {color:#999;}
.cc,a.cc,.cc a {color:#ccc;}
.ce4,a.ce4,.ce4 a {color:#e4e4e4;}
.cff6d7a,.cff6d7a a,a.cff6d7a {color:#ff6d7a;}
.c6a7284,.c6a7284 a,a.c6a7284 {color:#6a7284;}
.c191919,.c191919 a,a.c191919 {color:#191919;}
.c5aafff,.c5aafff a,a.c5aafff {color:#5aafff;}
.c233053,.c233053 a,a.c233053 {color:#233053;}
.ce44b19,.ce44b19 a,a.ce44b19 {color:#e44b19;}
.cd49e5c,.cd49e5c a,a.cd49e5c {color:#d49e5c;}
.c1c8cec,.c1c8cec a,a.c1c8cec {color:#1c8cec;}
.bgfff { background:#fff;}
.bg000 { background:#000;}
.bgf3f7f9 { background:#f3f7f9;}


.loading { background:rgba(0,0,0,0.9); position:fixed;width:100%;height:100%;left:0;top:0; z-index:999;}
.loading .bg {position:absolute;
top:35%;
left:220px;
display:block;
z-index:101;
width:320px;
height:320px;
-webkit-animation: loading 1.5s linear infinite;
animation: loading 1.5s linear infinite;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}
.loading .img {
display:block;
z-index:100;
width:320px;
border-radius:100%;
height:320px;
position:absolute;
top:35%;
left:220px;
}
.audio {
 position: fixed;
  right: 20px;
  display: inline-block;
  z-index: 998;
  top: 20px;
}
.audio a {
  display: inline-block;
  width: 56px;
  height: 56px;
  overflow: hidden;
  background: url('../images/mcbg.png') no-repeat;
  background-size: 100%;
}
.audio a audio {
  width: 100%;
  height: 56px;
}
#music-control {
 position: fixed;
  right: 15px;
  display: inline-block;
  z-index: 998;
  top: 15px;
  /*display: none;*/
}
#music-control a {
  display: inline-block;
  width: 56px;
  height: 56px;
  overflow: hidden;
  background: url('../images/mcbg.png') no-repeat;
  background-size: 100%;
}
#music-control a audio {
  width: 100%;
  height: 56px;
}
#music-control a.stop {
  background-position: left bottom;
}
#music-control a.on {
  background-position: 0px 0;
  -webkit-animation: reverseRotataZ 1.2s linear infinite;
  animation: reverseRotataZ 1.2s linear infinite;
}
.next {
  bottom:15px;
  left: 360px;
  width:50px;
}
.active .next {
  -webkit-animation: start 1.5s infinite;
  animation: start 1.5s infinite;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.wp section {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.wp section img { display:none;position:absolute;}
.wp .active img { display:block;}
.wp section.active {
-webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
	}
.active .page-logo{
-webkit-animation: fadeInDown 1s 1s;
animation: fadeInDown 1s 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}
.page1 {background:#00a0e9 url(../images/page-1/1.jpg) no-repeat;background-size: 100% 100%;}
.page2 {background:#00a0e9 url(../images/page-2/1.jpg) no-repeat;background-size: 100% 100%;}
.page3 {background:#00a0e9 url(../images/page-3/1.jpg) no-repeat;background-size: 100% 100%;}
.page4 {background:#00a0e9 url(../images/page-4/1.jpg) no-repeat;background-size: 100% 100%;}
.page5 {background:#00a0e9 url(../images/page-5/1.jpg) no-repeat;background-size: 100% 100%;}
.page6 {background:#00a0e9 url(../images/page-6/1.jpg) no-repeat;background-size: 100% 100%;}
.page7 {background:#00a0e9 url(../images/page-7/1.jpg) no-repeat;background-size: 100% 100%;}
.page8 {background:#00a0e9 url(../images/page-8/1.jpg) no-repeat;background-size: 100% 100%;}
.page9 {background:#00a0e9 url(../images/page-9/1.jpg) no-repeat;background-size: 100% 100%;}
.page10{background:#00a0e9 url(../images/page-10/1.jpg) no-repeat;background-size: 100% 100%;}

.wp{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.con{
    visibility: hidden;
}
/*slide ---v*/
.fullPage-wp{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.fullPage-wp:after {
    display: block;
    content: ' ';
    height: 0;
    clear: both;
}
.fullPage-wp.anim,
.page.anim{
    -moz-transition: 500ms ease-out all;
    -o-transition: 500ms ease-out all;
    -ms-transition: 500ms ease-out all;
    -webkit-transition: 500ms ease-out all;
    transition: all 500ms ease-out;
}
.fullPage-page{
    display: block;
    overflow: hidden;
}
/*slide ---l*/
.fullPage-dir-h {
    float: left;
}
/*silde ie*/
.fullPage-wp-ie{
    position: absolute;
    top:0;
    left:0;
}
/*hideIn*/
.fullpage-hideIn-wp{
    position: relative;
}
.fullpage-hideIn-wp .hideIn-page{
    position: absolute;
    top:0;
    left:0;
    z-index: 0;
}
/*cube*/
.cube-page-l{
    left: 0;
    top:0;
}
.cube{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    -webkit-perspective: 700px;
    perspective: 700px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    /*-webkit-transition: 500ms ease transform;
    transition: 500ms ease transform;*/
}
