.page-logo {top:47px;}
.page1-img1 {top: 0px;}
.page1-img2 {top: 140px;}
.page1-img3 {top: 525px;}
.page1-img4 {top: 660px;}
.page1-img5 {top: 800px;}
.page1-img6 { top: 0px;}
.page1-img7 { top: 0px;}

.page2-img1 {top: 70px;}
.page2-img2 {top: 100px;}
.page2-img3 { top: 180px;}
.page2-img4 {top: 0px;}
.page2-img5 {top: 0px; }
.page2-img6 {top: 1000px;}
.page2-img7 {top: 532px;}
.page2-img8 {top: 560px;}
.page2-img9 {top: 610px;}
.page2-img10 {top:0px;}
.page2-img11 {top: 710px;}
.page2-img12 {top: 750px; right: -50px}
.page2-img13 {top: 850px;}
.page2-img14 {top: 970px;}

.page3-img1 {top: 110px;}
.page3-img2 {top: 240px;}
.page3-img3 {top: 40px;}
.page3-img4 {top: 180px;}
.page3-img5,.page3-img6,.page3-img7,.page3-img8,.page3-img9,.page3-img10,.page3-img11,.page3-img12,.page3-img13,.page3-img14,.page3-img15,.page3-img16,.page3-img17,.page3-img18,.page3-img19,.page3-img20,.page3-img21,.page3-img22 {top: 0;}

.page4-img1 { top: 90px;}
.page4-img2 {top: 180px;}
.page4-img3 {top: 0px;}
.page4-img4 {top: 980px;}
.page4-img5 {top: 160px;}
.page4-img6 {top: 360px;}
.page4-img7{top: 460px;z-index: 99;}
.page4-img8 {top: 540px;}
.page4-img9 {top: 670px;}
.page4-img10 {top: 830px;}
.page4-img11 {top: 795px;}

.page5-img1 {top: 80px;}
.page5-img2 {top: 0px;}
.page5-img3 {top: 330px;}
.page5-img4 {top: 165px;}
.page5-img5 {top: 295px;}
.page5-img6 {top: 385px;}
.page5-img7 {top: 0px;}
.page5-img8 {top:810px;}
.page5-img9 {top:920px;}
.page5-img10 {top:1020px;}
.page5-img11 {top:420px;}

#swiperText{
  display: block;
  width: 550px;
  height: 210px;
  overflow: hidden;
  position: absolute;
  color: #fff;
  left: 180px;
  top: 870px;
  line-height:1.6em;
}
#swiperText .swiper-button-prev{
  position: absolute;
  bottom:0;
  left:0;
  display: inline-block;
  overflow: hidden;
  width: 35px;
  height: 35px;
  margin: 10px 0;
  background: url("../images/page-5/10.png") no-repeat center;
  margin-left: 300px;
  z-index:9999;
}
#swiperText .swiper-button-next{
  position: absolute;
  bottom:0;
  left:0;
  display: inline-block;
  overflow: hidden;
  width: 35px;
  height: 35px;
  z-index:9999;
  margin: 10px 0;
  margin-left: 350px;
  background: url("../images/page-5/11.png") no-repeat center;
}

.page6-img1 {top: 120px;}
.page6-img2 { top: 265px;}
.page6-img3 { top: 340px;}
.page6-img4 { top: 410px;}
.page6-img5 {top: 498px;}
.page6-img6 { top: 608px;}
.page6-img7 { top: 700px;}
.page6-img8 {top: 210px;}
.page6-img9 { top: 335px;}
.page6-img10 {top: 475px;}
.page6-img11 {top:  645px;}
.page6-img12 {top: 765px;}
.page6-img13 {top:755px;}
.page6-img17 {top: 890px;}

.page7-img1 {top: 85px;}
.page7-img2 {top: 0px;}
.page7-img3 {top: 380px;}
.page7-img4 {top: 430px;}
.page7-img5 {top: 530px;}
.page7-img6 {top: 590px;}
.page7-img7 {top: 706px;}
.page7-img8 {top: 776px;}
.page7-img9 {top: 50px;}
.page7-img10 {top: 0px;}
.page7-img11 {bottom: 0px;}


.page8-img1 {top: 95px;}
.page8-img2 {top: 60px;}
.page8-img3 {top: 250px;}
.page8-img4 { top: 865px;}
.page8-img5 {top: 1015px;}
.page8-img6 {top: 880px;}


.page9-img1 {top: 90px;}
.page9-img2 {top: 0px;}
.page9-img3 {bottom: 0px;z-index:999;}
.page9-img4 {top: 440px;}
.page9-img5 {top: 750px;}
.page9-img6 {top: 895px;}
.page9-img7{top: 750px;}
.page9-img8 { bottom: 50px;}
.page9-img9 {top: 750px;}
.page9-img10 {top: 770px;opacity:0.5;}
.page9-img11 {top: 680px;opacity:0.5;}
.page9-img12 {top: 320px;  opacity:0.5;}

.page10-img1 {top: 0px;}
.page10-img2 {bottom: 0px;}
.page10-img3 {top: 0px;}
.page10-img4 {top: 0px;}
.page10-img5 {top: 425px;}
.page10-img6 {top: 540px;}
.page10-img7 {top: 280px;}
.page10-img8 {top: 730px}
.page10-img9 {top: 1010px}
.page10-img10 {bottom:0}

.page1.active .page1-img1{
  -webkit-animation: bounceIn 1s 0.5s;
  animation: bounceIn 1s 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page1.active .page1-img2{
  -webkit-animation:zoomInRight 1s 1s;
  animation: zoomInRight 1s 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page1.active .page1-img3{
  -webkit-animation: scaleInCenter 1s 1.5s;
  animation: scaleInCenter 1s 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page1.active .page1-img4{
  -webkit-animation: bounceInUp 1s 2s;
  animation: bounceInUp 1s 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page1.active .page1-img5{
  -webkit-animation: slideInUp 1s 2.5s;
  animation: slideInUp 1s 2.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page1.active .page1-img6{
  -webkit-animation: bounceInUp 1s 3s;
  animation: bounceInUp 1s 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page1.active .page1-img7{
  -webkit-animation: bounceInUp 1s 3.5s;
  animation: bounceInUp 1s 3.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*.page2.active .line {*/
  /*display:block;*/
  /*-webkit-animation: fadeIn 1s 1.3s;*/
  /*animation: fadeIn 1s 1.3s;*/
  /*-webkit-animation-fill-mode: both;*/
  /*animation-fill-mode: both;*/
/*}*/
/*.page2.active .about {*/
  /*display:block;*/
  /*-webkit-animation: fadeInLeft 1s 1.8s;*/
  /*animation: fadeInLeft 1s 1.8s;*/
  /*-webkit-animation-fill-mode: both;*/
  /*animation-fill-mode: both;*/
/*}*/
/*.page2.active .page2-img1 {*/
  /*-webkit-animation: fadeInLeft 1s 0.5s;*/
  /*animation: fadeInLeft 1s 0.5s;*/
  /*-webkit-animation-fill-mode: both;*/
  /*animation-fill-mode: both;*/
/*}*/
/*.page2.active .page2-img2 {*/
  /*-webkit-animation: jackInTheBox 1s 1s;*/
  /*animation: jackInTheBox 1s 1s;*/
  /*-webkit-animation-fill-mode: both;*/
  /*animation-fill-mode: both;*/
/*}*/
/*.page2.active .page2-img3 {*/
  /*-webkit-animation: scaleInCenter 0.5s 1.5s;*/
  /*animation: scaleInCenter 0.5s 1.5s;*/
  /*-webkit-animation-fill-mode: both;*/
  /*animation-fill-mode: both;*/
/*}*/
/*.page2.active .page2-img4 {*/
  /*-webkit-animation: flipInX 1s 2s;*/
  /*animation: flipInX 1s 2s;*/
  /*-webkit-animation-fill-mode: both;*/
  /*animation-fill-mode: both;*/
/*}*/
/*.page2.active .page2-img5 {*/
  /*-webkit-animation: lightSpeedIn 1s 3s;*/
  /*animation: lightSpeedIn 1s 3s;*/
  /*-webkit-animation-fill-mode: both;*/
  /*animation-fill-mode: both;*/
/*}*/
/*.page2.active .page2-img6 {*/
  /*-webkit-animation: bounceInRight 1s 7.5s;*/
  /*animation: bounceInRight 1s 7.5s;*/
  /*-webkit-animation-fill-mode: both;*/
  /*animation-fill-mode: both;*/
/*}*/
/*.page2.active .page2-img7 {*/
  /*-webkit-animation: bounceInLeft 1s 3s;*/
  /*animation: bounceInLeft 1s 3s;*/
  /*-webkit-animation-fill-mode: both;*/
  /*animation-fill-mode: both;*/
/*}*/
/*.page2.active .page2-img8 {*/
  /*-webkit-animation: bounceInRight 1s 4.5s;*/
  /*animation: bounceInRight 1s 4.5s;*/
  /*-webkit-animation-fill-mode: both;*/
  /*animation-fill-mode: both;*/
/*}*/
/*.page2.active .page2-img9 {*/
  /*-webkit-animation: bounceInLeft 1s 5s;*/
  /*animation: bounceInLeft 1s 5s;*/
  /*-webkit-animation-fill-mode: both;*/
  /*animation-fill-mode: both;*/
/*}*/
/*.page2.active .page2-img10 {*/
  /*-webkit-animation: bounceInRight 1s 5.5s;*/
  /*animation: bounceInRight 1s 5.5s;*/
  /*-webkit-animation-fill-mode: both;*/
  /*animation-fill-mode: both;*/
/*}*/
/*.page2.active .page2-img11 {*/
  /*-webkit-animation: bounceInLeft 1s 6s;*/
  /*animation: bounceInLeft 1s 6s;*/
  /*-webkit-animation-fill-mode: both;*/
  /*animation-fill-mode: both;*/
/*}*/
/*.page2.active .page2-img12 {*/
  /*-webkit-animation: bounceInRight 1s 6.5s;*/
  /*animation: bounceInRight 1s 6.5s;*/
  /*-webkit-animation-fill-mode: both;*/
  /*animation-fill-mode: both;*/
/*}*/
/*.page2.active .page2-img13 {*/
  /*-webkit-animation: bounceInLeft 1s 7s;*/
  /*animation: bounceInLeft 1s 7s;*/
  /*-webkit-animation-fill-mode: both;*/
  /*animation-fill-mode: both;*/
/*}*/
/*.page2.active .page2-img14 {*/
  /*-webkit-animation: bounceInRight 1s 7.5s;*/
  /*animation: bounceInRight 1s 7.5s;*/
  /*-webkit-animation-fill-mode: both;*/
  /*animation-fill-mode: both;*/
/*}*/

.active .page-logo2 {
  -webkit-animation: fadeInDown 1s 1s;
  animation: fadeInDown 1s 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page3.active .page3-img1 {
  -webkit-animation: flipInX 1s 0.5s;
  animation: flipInX 1s 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page3.active .page3-img2 {
  -webkit-animation: flipInX 1s 1s;
  animation: flipInX 1s 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page3.active .page3-img3 {
  -webkit-animation: flipInY 1s 1.5s;
  animation: flipInY 1s 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page3.active .page3-img4 {
  -webkit-animation: flipInX 1s 2s;
  animation: flipInX 1s 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page3.active .page3-img5 {
  -webkit-animation: fadeInUp 1s 2.5s;
  animation: fadeInUp 1s 2.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page3.active .page3-img6 {
  -webkit-animation: fadeInUp 1s 3s;
  animation: fadeInUp 1s 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page3.active .page3-img7 {
  -webkit-animation: fadeInUp 1s 4s;
  animation: fadeInUp 1s 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page3.active .page3-img8 {
  -webkit-animation: fadeInUp 1s 4.5s;
  animation: fadeInUp 1s 4.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page3.active .page3-img9 {
  -webkit-animation: fadeInUp 1s 5s;
  animation: fadeInUp 1s 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page3.active .page3-img10 {
  -webkit-animation: fadeInUp 1s 5.5s;
  animation: fadeInUp 1s 5.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page3.active .page3-img11 {
  -webkit-animation: fadeInUp 1s 6s;
  animation: fadeInUp 1s 6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page3.active .page3-img12 {
  -webkit-animation: fadeInUp 1s 6.5s;
  animation: fadeInUp 1s 6.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page3.active .page3-img13 {
  -webkit-animation: fadeInUp 1s 7s;
  animation: fadeInUp 1s 7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page3.active .page3-img14 {
  -webkit-animation: fadeInUp 1s 7.5s;
  animation: fadeInUp 1s 7.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page3.active .page3-img15 {
  -webkit-animation: fadeInUp 1s 8s;
  animation: fadeInUp 1s 8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page3.active .page3-img16 {
  -webkit-animation: fadeInUp 1s 8.5s;
  animation: fadeInUp 1s 8.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page3.active .page3-img17 {
  -webkit-animation: fadeInUp 1s 9s;
  animation: fadeInUp 1s 9s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page3.active .page3-img18 {
  -webkit-animation: fadeInUp 1s 9.5s;
  animation: fadeInUp 1s 9.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page3.active .page3-img19 {
  -webkit-animation: fadeInUp 1s 10s;
  animation: fadeInUp 1s 10s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page3.active .page3-img20 {
  -webkit-animation: fadeInUp 1s 10.5s;
  animation: fadeInUp 1s 10.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page3.active .page3-img21 {
  -webkit-animation: fadeInUp 1s 11.5s;
  animation: fadeInUp 1s 11.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page3.active .page3-img22 {
  -webkit-animation: fadeInUp 1s 12s;
  animation: fadeInUp 1s 12s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}



.page3-2.active .page3-2-img2 {
  -webkit-animation: fadeIn 2s 1s;
  animation: fadeIn 2s 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page3-2.active .page3-2-img3{
  -webkit-animation: fadeIn 2s 2s;
  animation: fadeIn 2s 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.page3-3.active .page3-3-img2 {
  -webkit-animation: fadeIn 2s 1s;
  animation: fadeIn 2s 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page3-3.active .page3-3-img3{
  -webkit-animation: fadeIn 2s 2s;
  animation: fadeIn 2s 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.page4.active .page4-img1 {
  -webkit-animation:fadeInUp 1s 0.5s;
  animation:fadeInUp 1s 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page4.active .page4-img2 {
  -webkit-animation:fadeInUp 1s 1s;
  animation:fadeInUp 1s 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page4.active .page4-img3{
  display:block;
  -webkit-animation:fadeInUp 1s 1.5s;
  animation:fadeInUp 1s 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page4.active .page4-img4{
  -webkit-animation:fadeInLeft 1s 2s;
  animation:fadeInLeft 1s 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page4.active .page4-img5{
  -webkit-animation:fadeInUp 1s 2.5s;
  animation:fadeInUp 1s 2.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page4.active .page4-img6{
  -webkit-animation:fadeInUp 1s 3s;
  animation:fadeInUp 1s 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page4.active .page4-img7{
  -webkit-animation:fadeInUp 1s 3.5s;
  animation:fadeInUp 1s 3.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page4.active .page4-img8{
  -webkit-animation:fadeInUp 1s 4s;
  animation:fadeInUp 1s 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page4.active .page4-img9{
  -webkit-animation:fadeInUp 1s 4s;
  animation:fadeInUp 1s 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page4.active .page4-img10{
  -webkit-animation:fadeInUp 1s 4.5s;
  animation:fadeInUp 1s 4.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page4.active .page4-img11{
  -webkit-animation:fadeInUp 1s 5s;
  animation:fadeInUp 1s 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.page5.active .page5-img1 {
  -webkit-animation:fadeInDown 1s 0.5s;
  animation:fadeInDown 1s 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page5.active .page5-img2 {
  -webkit-animation:bounceInDown 0.5s 1s;
  animation:bounceInDown 0.5s 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page5.active .page5-img3{
  display:block;
  -webkit-animation:bounceInDown 0.5s 1.7s;
  animation:bounceInDown 0.5s 1.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page5.active .page5-img4{
  -webkit-animation:bounceInDown 0.5s 1.2s;
  animation:bounceInDown 0.5s 1.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page5.active .page5-img5{
  -webkit-animation:fadeInDown 1s 1.4s;
  animation:fadeInDown 1s 1.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page5.active .page5-img6{
  -webkit-animation:fadeInDown 1s 2.2s;
  animation:fadeInDown 1s 2.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page5.active .page5-img7{
  -webkit-animation:fadeInUp 1s 2.5s;
  animation:fadeInUp 1s 2.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page5.active .page5-img8{
  -webkit-animation:fadeInDown 1s 2.8s;
  animation:fadeInDown 1s 2.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page5.active .page5-img9{
  -webkit-animation:fadeInDown 1s 3.1s;
  animation:fadeInDown 1s 3.1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.page6.active .page6-img1 {
  -webkit-animation:bounceInDown 1s 0.5s;
  animation:bounceInDown 1s 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page6.active .page6-img2 {
  -webkit-animation:rotateInDownLeft 1s 1s;
  animation:rotateInDownLeft 1s 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page6.active .page6-img3 {
  -webkit-animation:fadeInLeft 1s 1.5s;
  animation:fadeInLeft 1s 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page6.active .page6-img4 {
  -webkit-animation:fadeInLeft 1s 1.6s;
  animation:fadeInLeft 1s 1.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page6.active .page6-img5 {
  -webkit-animation:fadeInLeft 1s 1.7s;
  animation:fadeInLeft 1s 1.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page6.active .page6-img6 {
  -webkit-animation:fadeInLeft 1s 1.8s;
  animation:fadeInLeft 1s 1.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page6.active .page6-img7 {
  -webkit-animation:flipInX 1s 1.9s;
  animation:flipInX 1s 1.9s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page6.active .page6-img8 {
  -webkit-animation:flipInX 1s 2.5s;
  animation:flipInX 1s 2.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page6.active .page6-img9 {
  -webkit-animation:flipInX 1s 3s;
  animation:flipInX 1s 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page6.active .page6-img10 {
  -webkit-animation:flipInX 1s 3.5s;
  animation:flipInX 1s 3.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page6.active .page6-img11 {
  -webkit-animation:flipInX 1s 4s;
  animation:flipInX 1s 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page6.active .page6-img12 {
  -webkit-animation:flipInX 1s 4.5s;
  animation:flipInX 1s 4.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page6.active .page6-img13 {
  -webkit-animation:fadeInUp 1s 5s;
  animation:fadeInUp 1s 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page6.active .page6-img14 {
  -webkit-animation:fadeIn 1s 5.3s;
  animation:fadeIn 1s 5.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page6.active .page6-img15 {
  -webkit-animation:fadeInUp 1s 5.6s;
  animation:fadeInUp 1s 5.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page6.active .page6-img16 {
  -webkit-animation:fadeInUp 1s 5.9s;
  animation:fadeInUp 1s 5.9s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page6.active .page6-img17 {
  -webkit-animation:fadeInUp 1s 6.2s;
  animation:fadeInUp 1s 6.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.page7.active .page7-img1 {
  -webkit-animation:bounceInRight 1s 1s;
  animation:bounceInRight 1s 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page7.active .page7-img2 {
  display:block;
  -webkit-animation:bounceInUp 1.5s 1.5s;
  animation:bounceInUp 1.5s 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page7.active .page7-img3 {
  -webkit-animation:fadeInLeft 0.5s 2s;
  animation:fadeInLeft 0.5s 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page7.active .page7-img4 {
  -webkit-animation:fadeInRight 0.5s 2.3s;
  animation:fadeInRight 0.5s 2.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page7.active .page7-img5 {
  -webkit-animation:fadeInLeft 0.5s 2.8s;
  animation:fadeInLeft 0.5s 2.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page7.active .page7-img6 {
  -webkit-animation:fadeInRight 0.5s 3.1s;
  animation:fadeInRight 0.5s 3.1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page7.active .page7-img7 {
  -webkit-animation:fadeInLeft 0.5s 3.3s;
  animation:fadeInLeft 0.5s 3.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page7.active .page7-img8 {
  -webkit-animation:fadeInRight 0.5s 3.6s;
  animation:fadeInRight 0.5s 3.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page7.active .page7-img9 {
  -webkit-animation:fadeIn 0.5s 3.9s;
  animation:fadeIn 0.5s 3.9s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page7.active .page7-img10 {
  -webkit-animation:fadeInUp 1s 4.2s;
  animation:fadeInUp 01s 4.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page7.active .page7-img11 {
  -webkit-animation:fadeInUp 1s 4.3s;
  animation:fadeInUp 1s 4.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.page8.active .page8-img1 {
  -webkit-animation:fadeInDown 1s 0.5s;
  animation:fadeInDown 1s 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page8.active .page8-img2 {
  -webkit-animation:fadeInLeft 1s 1s;
  animation:fadeInLeft 1s 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page8.active .page8-img3 {
  -webkit-animation:fadeInUp 1s 1.5s;
  animation:fadeInUp 1s 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page8.active .page8-img4 {
  -webkit-animation:fadeInUp 1s 2s;
  animation:fadeInUp 1s 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page8.active .page8-img5 {
  -webkit-animation:rotateIn 0.6s 2.5s;
  animation:rotateIn 0.6s 2.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page8.active .page8-img6 {
  -webkit-animation:rotateIn 0.3s 3s;
  animation:rotateIn 0.3s 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.page9.active .page9-img1 {
  -webkit-animation:bounceIn 1s 1s;
  animation:bounceIn 1s 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page9.active .page9-img2 {
  -webkit-animation:bounceInDown 1s 1.5s;
  animation:bounceInDown 1s 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page9.active .page9-img3 {
  -webkit-animation:bounceInUp 1s 2s;
  animation:bounceInUp 1s 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page9.active .page9-img4 {
  -webkit-animation:bounceInUp 1s 2.5s;
  animation:bounceInUp 1s 2.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page9.active .page9-img5 {
  -webkit-animation:rotateIn 1s 3s;
  animation:rotateIn 1s 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page9.active .page9-img6 {
  -webkit-animation:rotateInUpLeft 1s 3.5s;
  animation:rotateInUpLeft 1s 3.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page9.active .page9-img7 {
  -webkit-animation:rotateInUpRight 1s 4s;
  animation:rotateInUpRight 1s 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page9.active .page9-img8 {
  -webkit-animation:rotateInUpLeft 1s 4s;
  animation:rotateInUpLeft 1s 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page9.active .page9-img9 {
  -webkit-animation:fadeInLeft 1s 4.3s;
  animation:fadeInLeft 1s 4.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page9.active .page9-img10 {
  -webkit-animation:fadeInLeft 1s 4.3s;
  animation:fadeInLeft 1s 4.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page9.active .page9-img11 {
  -webkit-animation:fadeInRight 1s 4s;
  animation:fadeInRight 1s 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page9.active .page9-img12 {
  -webkit-animation:fadeInRight 1s 4.6s;
  animation:fadeInRight 1s 4.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


.page10.active .page10-img1 {
  -webkit-animation:bounceInUp 1s 0.5s;
  animation:bounceInUp 1s 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page10.active .page10-img2 {
  -webkit-animation:bounceInUp 1s 1s;
  animation:bounceInUp 1s 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page10.active .page10-img3 {
  -webkit-animation:bounceInDown 1s 1.5s;
  animation:bounceInDown 1s 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page10.active .page10-img4 {
  -webkit-animation:bounceInDown 1s 2s;
  animation:bounceInDown 1s 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page10.active .page10-img5 {
  -webkit-animation:bounceInLeft 1s 2.2s;
  animation:bounceInLeft 1s 2.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page10.active .page10-img6 {
  -webkit-animation:bounceInLeft 1s 3s;
  animation:bounceInLeft 1s 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page10.active .page10-img7 {
  -webkit-animation:bounceInRight 1s 3.5s;
  animation:bounceInRight 1s 3.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page10.active .page10-img8 {
  -webkit-animation:bounceInDown 1s 4s;
  animation:bounceInDown 1s 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page10.active .page10-img9 {
  -webkit-animation:bounceInUp 1s 4s;
  animation:bounceInUp 1s 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page10.active .page10-img10 {
  -webkit-animation:fadeInUp 1s 4s;
  animation:fadeInUp 1s 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
